body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    font-family: "Cuprum", Arial, sans-serif;
    background-color: #ee3643;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover,
.btn:focus {
    background-color: #ca2c37;
}

.btn:active {
    background-color: #ba2732;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

/* ------------------upper header----------------------*/

.main-header {
    font-family: "Cuprum", Arial, sans-serif;
    background-color: #f2f6f8;
    padding: 0;
    margin: 0;
}

.main-header .upper-header {
    background-color: #293449;
}

.header-logo,
.header-logo-link {
    width: 220px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ee3643;
}

.header-logo::after,
.header-logo-link:after {
    content: "";
    width: 220px;
    height: 5px;
    background-color: #b52933;
    position: absolute;
    bottom: -5px;
}

.header-logo-link:hover,
.header-logo-link:focus,
.footer-logo-link:hover,
.footer-logo-link:focus {
    background-color: #ca2c37;
}

.header-logo-link:active,
.footer-logo-link:active {
    background-color: #ba2732;
}

.container .user-navigation,
.middle-header .profile-navigation,
.middle .profile-navigation li {
    display: flex;
    margin: 0;
    padding: 0;
}

.upper-header .container {
    display: flex;
    justify-content: space-between;
}


.user-navigation {
    width: 720px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.search input::placeholder {
    color: #ffffff;
}

.search-area {
    flex-grow: 1;
}

.search input {
    border: none;
    color: #000000;
    margin: 0;
    padding: 12px 0;
    width: 100%;
    padding-left: 50px;
    background-color: #293449;
}

.search {
    position: relative;
}

.search input {
    background-color: #293449;
    background-image: url("../img/icon-search-opacity.png");
    background-position: 16px 12px;
    background-repeat: no-repeat;
}

.search input:hover {
    background-color: #212a3a;
    background-image: url("../img/icon-search.png");
    background-position: 16px 12px;
    background-repeat: no-repeat;
}

.search input:focus {
    background-color: #ffffff;
    background-image: url("../img/icon-search-red.png");
    background-position: 16px 12px;
    background-repeat: no-repeat;
    color: #000000;
    outline: none;
}

.user-navigation a {
    display: block;
    padding: 13px 0;
    vertical-align: middle;
}

.user-navigation .search {
    border: none;
    padding: 0;
}

.user-navigation .bookmarks {
    width: 80px;
    position: relative;
    padding-left: 43px;
    padding-right: 27px;
}

.bookmarks::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 18px;
    width: 14px;
    height: 16px;
    background: url("../img/icon-bookmark.png");
}

.bookmarks::before,
.cart::before {
    opacity: 0.3;
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.cart:hover::before,
.cart:focus::before {
    opacity: 1;
}

.bookmarks:active::before,
.cart:active::before {
    opacity: 0.3;
}

.user-navigation .cart {
    width: 75px;
    position: relative;
    padding-left: 50px;
    padding-right: 25px;
}

.cart::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 18px;
    width: 15px;
    height: 15px;
    background: url("../img/cart-icon.png") no-repeat 0 0;
}

.user-navigation .cart-active {
    background-color: #ee3643;
}

.user-navigation .cart-active:hover,
.cart-active:focus {
    background-color: #ca2c37;
}

.user-navigation .cart-active:active {
    background-color: #ba2732;
}


.user-navigation .btn-order {
    background-color: #63a63e;

    width: 110px;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.user-navigation .btn-order:hover,
.btn-order:focus {
    background-color: #5fbb2d;
}

.user-navigation .btn-order:active {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.6);
}

/* Сетки MIDDLE HEADER */
.container .middle-header {
    display: flex;
    margin-top: 47px;
    margin-bottom: 40px;
    justify-content: flex-start;
    background-color: #f3f7f9;
}

.about-shop-header h1 {
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    padding-left: 53px;
}

.contacts-header .telephone::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    background: url("../img/icon-phone.png") no-repeat 0 0;
    left: 10px;
}

.contacts-header .address {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    padding-top: 5px;
}

.about-shop-header h1 {
    margin: 0;
    padding: 0;
    padding-left: 50px;
    width: 200px;
    margin-right: 69px;
}

.contacts-header {
    display: flex;
    width: 270px;
    flex-wrap: wrap;
}

.contacts-header .telephone {
    width: 145px;
    padding: 10px 50px 6px 70px;
    border: solid 3px #ffffff;
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0.42;
    color: #e9292a;
    text-decoration: none;
    position: relative;
}

.contacts-header .address {
    width: 252px;
    margin-left: 10px;
}

.middle-header .profile-navigation {
    width: 280px;
    list-style: none;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: auto;
}

.profile-navigation li {
    display: flex;
}

.profile-navigation a {
    font-size: 21px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.profile-navigation a:hover,
.profile-navigation a:focus {
    color: #ee3643;
}

.profile-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.profile-navigation-signed-in {
    width: 300px;
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
}

.profile-navigation-signed-in .username {
    color: #000000;
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    text-align: center;
    background-color: #ffffff;
    position: relative;
    width: 210px;
    padding: 11px 54px 9px 36px;
}

.profile-navigation-signed-in .username::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 18px;
    background: url("../img/icon-user.png") no-repeat 0 0;
    left: 15px;
    top: 12px;
    opacity: 0.3;
}

.profile-navigation-signed-in .username::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 17px;
    background: url("../img/icon-logout.png") no-repeat 0 0;
    right: 10px;
    top: 14px;
    opacity: 0.3;
}

.profile-navigation-signed-in .username:hover::before,
.profile-navigation-signed-in .username:active::before {
    opacity: 1;
}

.profile-navigation-signed-in .username:hover::after,
.profile-navigation-signed-in .username:focus::after {
    opacity: 1;
}

.profile-navigation-signed-in .username:active::before,
.profile-navigation-signed-in .username:active::after {
    opacity: 0.3;
}

.profile-navigation-signed-in a {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
}

.profile-navigation-signed-in a:hover,
.profile-navigation-signed-in a:focus {
    color: #ee3643;
}

.profile-navigation-signed-in a:active {
    color: rgba(0, 0, 0, 0.3);
}

.profile-nav {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 5px;
    padding-left: 19px;
}

.profile-nav a {
    padding-right: 32px;
}

.profile-nav::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    background-color: #32425c;
    border-radius: 50%;
    left: 108px;
    top: 13px;
}

.sign-in-btn {
    position: relative;
    width: 50px;
    padding-right: 25px;
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sign-in-btn::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 17px;
    background: url("../img/icon-login.png") no-repeat 0 0;
    top: 13px;
    left: 15px;
    opacity: 0.3;
}

.sign-in-btn:hover::before,
.sign-in-btn:focus::before {
    opacity: 1;
}

.sign-in-btn:active::before {
    opacity: 0.3;
}

.sign-up-btn {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

/*-----------LOWER HEADER------------*/
.container .lower-header {
    background-color: #f2f6f8;
    padding-bottom: 60px;
}

.site-navigation {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.user-navigation,
.site-navigation {
    list-style: none;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: flex;
}

.site-navigation a {
    padding-left: 31px;
    padding-right: 30px;
    background-color: #32425c;
    line-height: 18px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: solid 5px #293449;
}

.navigation-item:first-of-type a {
    padding-left: 52px;
}

.navigation-item:last-of-type a {
    padding-right: 54px;
}

.user-navigation {
    list-style: none;
    line-height: 17px;
}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
    text-decoration: none;
}

.user-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #212a3a;
}

.user-navigation a:active,
.site-navigation a:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}


.list-of-transport-companies {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}

/*-------------------footer-----------------------------------*/
.main-footer {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.main-footer a {
    color: #ffffff;
    text-decoration: none;
}

.main-footer a:hover {
    text-decoration: underline;
}

.upper-footer {
    background-color: #32425c;
}

.footer-logo,
.footer-logo-link {
    margin: 0;
    background-color: #ee3643;
    position: relative;
    width: 220px;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 20px;
}

.footer-logo::after,
.footer-logo-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #b52933;
    left: 0;
    bottom: 0;
}

.navigation-footer ul {
    list-style: none;
}

.site-navigation-footer-1 a,
.site-navigation-footer-2 a {
    font-size: 18px;
}

.site-navigation-footer-1 a:active {
    color: rgba(241, 245, 247, 0.5);
}

.site-navigation-footer-2 a:active {
    color: rgba(255, 209, 128, 0.5);
}

.navigation-and-contacts {
    background-color: #32425c;
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
}

.main-footer .lower-footer {
    background-color: #293449;
}

.contacts-footer .address {
    color: #ffffff;
    margin: 0;
    margin-left: 2px;
}

.contacts-footer .feedback a:active,
.contacts-footer .developed-by a:active {
    color: #ee3643;
}

.contacts-footer .feedback b,
.contacts-footer .developed-by b {
    font-weight: normal;
}

.site-navigation-footer-2 a,
.contacts-footer .feedback a,
.contacts-footer .developed-by a {
    color: #ffd180;

}

.lower-footer .copyright-social-footer {
    background-color: #293449;
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    padding-top: 35px;
    padding-bottom: 30px;
}



/* ----------------------------catalog---------------------------- */

.breadcrumbs {
    display: flex;
    margin-top: 17px;
    margin-bottom: 17px;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
    padding-left: 15px;

    background-color: #ffffff;
    list-style: none;
}

.breadcrumbs a {
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.breadcrumbs::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 12px;
    background: url("../img/icon-home.png");
    left: 0;
    top: 5px;
}

.breadcrumb {
    padding-left: 40px;
    position: relative;
}

.breadcrumb::before {
    font-family: "PT Sans", Arial, sans-serif;
    position: absolute;
    content: "";
    width: 8px;
    height: 14px;
    background: url("../img/icon-right-small.svg") no-repeat 0 0;
    top: 5px;
    left: 15px;
}

.catalog-title {
    display: block;
    font-family: "Cuprum", Arial, sans-serif;
    background-color: #f2f6f8;
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;

    width: 170px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 740px;
    margin: 0;
}

.sorting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    background-color: #f7f3ec;
    position: relative;
}

.sorting::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 10px solid #ee3643;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    right: 48px;
    bottom: 15px;
}

.sorting::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid #c5c5c5;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    right: 15px;
    bottom: 15px;
}

.sorting h3,
.sorting a,
.filter h3 {
    background-color: #f7f3ec;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.sorting a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.sorting a:hover,
.sorting a:focus {
    color: #000000;
}

.sorting ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 18px;

    width: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sorting li {
    flex-grow: 1;
}

.sorting li:last-child {
    flex-grow: 2;
}

.sorting .active-sorting {
    color: #ee3643;
}

.filter {
    width: 220px;
    margin-top: 20px;
}

.filter h3 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
}

.filter fieldset {
    border: none;
    margin-bottom: 19px;
    margin-top: 20px;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
}

.filter fieldset:last-of-type {
    border: none;
}

.filter legend {
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 17px;

}

.filter-input:disabled+label {
    color: rgba(0, 0, 0, 0.4);
}

.filter button {
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    text-transform: uppercase;
    color: #000000;
    padding: 9px 38px 9px 38px;
    line-height: 18px;
    margin-top: 42px;
}

.filter button:hover,
.filter button:focus {
    outline: none;
    border-color: #bdc6ca;
}

.filter button:active {
    border-color: #ee3643;
}


.brand,
.power-supply {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
    padding-left: 35px;
    margin: 0;
    list-style: none;
}

.brand li,
.power-supply li {
    margin-bottom: 20px;
}

.brand label {
    cursor: pointer;
}

/*----------------------------Catalog----------------------------*/
.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-and-sorting {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}

.catalog {
    width: 700px;
    margin-top: 20px;
}

.catalog-list {
    width: 700px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item {
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;

    line-height: 20px;
    text-align: center;
    position: relative;
    border: solid 1px #e5e5e5;
}

.catalog-item .title {
    min-height: 40px;
    padding: 0 25px;
    margin: 0;
    margin-top: 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.catalog-item:hover,
.catalog-item:focus {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
    z-index: 13;
}

.catalog-item .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item:nth-child(3n) .price {
    margin-bottom: 20px;
    margin-top: 38px;
}




.catalog-item .price:after {
    content: "";

    position: absolute;
    top: 0;
    right: -22px;

    width: 0;
    height: 0;

    border: 19px solid #ffffff;
    border-left-color: #ee3643;

}

.catalog-item .price,
.catalog-item .discount {
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;

    width: 80px;
    margin: 0;
    margin-left: 42px;
    padding: 10px 29px;
    color: #999999;
    text-decoration: line-through;
}

.catalog-item .price {
    color: #ffffff;
    background-color: #ee3643;
    position: relative;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 0;
}

.catalog-item .buy,
.catalog-item .bookmark {
    display: block;
    width: 135px;
    margin: 0 auto;
    font-family: "Cuprum", Arial, sans-serif;

    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 8px;
    position: relative;

    padding: 6px 0;
    border-radius: 3px;
    border: 3px solid #63a63e;
}

.catalog-item .buy {

    background-color: #63a63e;
    border-bottom-color: #367315;
    color: #ffffff;
}

.catalog-item .buy::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: url("../img/cart-icon.png") no-repeat 0 0;
    left: 13px;
    top: 10px;
    opacity: 0.3;
}

.catalog-item .buy:hover::before,
.catalog-item .buy:focus::before,
.catalog-item .buy:active::before {
    opacity: 1;
}

.catalog-item .buy:hover,
.catalog-item .buy:focus {
    background-color: #5fbb2d;
    border-color: #5fbb2d;
    border-bottom-color: #367315;
}

.catalog-item .buy:active {
    background-color: #518534;
    border-color: #518534;
    border-bottom-color: #367315;
}

.catalog-item .bookmark {
    background-color: #ffffff;
    color: #32425c;
}

.catalog-item .bookmark:hover,
.catalog-item .bookmark:focus {
    border-color: #32425c;
}

.catalog-item .bookmark:active {
    opacity: 0.3;
    border-color: #32425c;
}

.catalog-item .actions {
    display: none;
}

.catalog-item:hover .actions {
    display: block;
}

.catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;

    width: 220px;
    height: 88px;
    padding: 40px 0;

    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
}

.catalog-item .image {
    margin: 0;
}

.catalog-page-buttons {
    width: 285px;
    list-style: none;
}

.catalog-page-buttons a {
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.catalog-page-buttons .active-catalog-page {
    background-color: #ee3643;
    color: #ffffff;
}

.catalog-page-buttons a:hover,
.catalog-page-buttons a:focus {
    border-color: #bdc6ca;
}

.catalog-page-buttons a:active {
    border-color: #ee3643;
}


/*--------------ABOUT SHOP---------------*/
.about-contacts-wrapper {
    display: flex;
    width: 940px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.about-shop,
.contacts {
    background-color: #ffffff;
}

.about-shop h2,
.contacts h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.contacts {
    width: 300px;
    padding: 10px;
    margin-left: auto;
}

.about-shop {
    width: 520px;
    padding: 10px;
}

/*------------------FOOTER-------------------*/
.main-footer .upper-footer {
    width: 100%;
}

.upper-footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.site-navigation-footer-1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 100%;
}

.site-navigation-footer-2 {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 525px;
    margin-left: auto;
}

.site-navigation-footer-1 li,
.site-navigation-footer-2 li {}

.navigation-footer {
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 37px;
    margin-bottom: 72px;
    align-content: space-between;
}

.logo-contacts-wrapper {
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.contacts-footer {
    margin-top: 30px;
    margin-bottom: 47px;
}

.copyright-social-footer {
    display: flex;
    flex-wrap: wrap;
}

.copyright-social-footer p {
    margin: 0;
}

.copyright-social-footer .copyright {
    margin-right: auto;
}

.copyright-social-footer .socials {
    display: flex;
    position: relative;
    width: 135px;
    margin-right: 119px;
}

.socials .social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #212a3a;
    border-radius: 50%;
    margin-right: 5px;
}

.socials .social-btn:hover,
.socials .social-btn:focus,
.socials .social-btn:active {
    background-color: #ee3643;
}

.copyright-social-footer .feedback {
    width: 140px;
    margin-right: 48px;
}

.feedback a,
.developed-by a {
    color: #ffd180;
}

.feedback a:active,
.developed-by a:active {
    color: #ee3643;
    text-decoration: none;
}

.copyright-social-footer .developed-by {
    width: 100px;
    margin-right: 11px;

}

.cart-adding-modal {
    display:none;
    position: fixed;
    border-top: solid 7px #ee3643;
    top: 200px;
    left: 50%;
    margin-left: -310px;
    background-color: #ffffff;
    z-index: 20;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.upper-modal {
    width: 460px;
    margin: 0 auto;
    padding: 65px 80px;
}

.upper-modal h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    margin-left: 97px;
    position: relative;
}

.upper-modal h2::before {
    position: absolute;
    content: "";
    width: 66px;
    height: 66px;
    background: url("../img/form-1.png") no-repeat 0 0;
    top: -17px;
    left: -97px;
}

.upper-modal .modal-close {
    font-size: 0;
    cursor: pointer;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 11px;
    right: 25px;
    background-color: transparent;
    border: none;
}

.upper-modal .modal-close::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    background: url("../img/modal-close.svg") no-repeat 0 0;
}

.lower-modal {
    background-color: #f1f1f1;
    display: flex width:460px;
    padding: 35px 80px 35px 80px;
}

.lower-modal .btn {
    display: inline-block;
    text-align: center;
    width: 220px;
    padding: 7px 0;
    border-radius: 3px;
}

.lower-modal .btn:first-of-type {
    margin-right: 20px;
}

.lower-modal .btn:last-of-type {
    color: #000000;
    background-color: #ffffff;
}

.modal-btns-container button {
    position: absolute;
    width: ;
}

/*pop-up-feedback*/
.pop-up-feedback {
    display:none;
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left:-310px;
    width: 620px;

    background-color: #ffffff;
    border-top: solid 7px #ff5357;
    box-shadow:0 20px 40px rgba(0,0,0,0.4);
    z-index:20;
}

.pop-up-feedback form {
    margin-top: 47px;
}

.pop-up-feedback label {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    width: 220px;
    margin-bottom: 11px;
}

.pop-up-feedback input {
    border: solid 2px #d7dcde;
    width: 100%;
    padding: 9px 0;
}
.pop-up-feedback input::placeholder{
    padding-left:12px;
}
.pop-up-feedback textarea::placeholder{
    padding-left:12px;
    padding-top:7px;
}
.pop-up-feedback input:hover {
    border: solid 2px #b5b5b5;
}

.pop-up-feedback input:focus {
    border: solid 2px #ee3643;
    outline: none;
}

.pop-up-feedback textarea {
    border: solid 2px #d7dcde;
    resize: none;
    height: 110px;
}

.pop-up-feedback textarea:hover {
    border: solid 2px #b5b5b5;
}

.pop-up-feedback textarea:focus {
    outline: none;
    border: solid 2px #ee3643;
}

.pop-up-feedback input[type="submit"] {
    display: block;
    padding: 12px 0;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
    background-color: #ee3643;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}

.pop-up-feedback input[type="submit"]:hover,
.pop-up-feedback input[type="submit"]:focus {
    background-color: #ca2c37;
}

.pop-up-feedback input[type="submit"]:active {
    background-color: #ba2732;
}

.feedback-user-info {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.feedback-user-info p {
    margin: 0;
    width: 220px;
    display: flex;
    flex-wrap: wrap;
}
.feedback-user-info p:first-child {
    margin-right:20px;
}

.feedback-text {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-bottom: 35px;
}

.feedback-text label {
    width: 460px;
}

.feedback-text textarea {
   width: 460px;
}
.pop-up-feedback .feedback {
    width: 620px;
    left: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lower-popup{
    background-color:#f4f4f4;
    padding:37px 0px;
    width:620px;
}
.lower-popup .btn{
    width:460px;
    margin:0 auto;
}
.pop-up-feedback .modal-close {
    font-size: 0;
    cursor: pointer;
    width: 21px;
    height: 21px;
    position: absolute;
    top: -2px;
    right: 18px;
    background-color: transparent;
    border: none;
}

.pop-up-feedback .modal-close::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    background: url("../img/modal-close.svg") no-repeat 0 0;
}
.map-modal {
    display:none;
    position:fixed;
    top:100px;
    left:50%;
    margin-left:-470px;
    box-shadow:0 8px 16px rgba(0,0,0,0.5);
    background-color:red;
    z-index:20;
}
.map-modal .modal-close {
    font-size: 0;
    cursor: pointer;
    width: 21px;
    height: 21px;
    position: absolute;
    top: -2px;
    right: 18px;
    background-color: transparent;
    border: none;
}

.map-modal .modal-close::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    background: url("../img/modal-close.svg") no-repeat 0 0;
}